<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre Nós</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
  <header>
    <h1>Sobre o Nosso Sistema</h1>
    <nav>
      <a href="/views/index.html">Início</a>
      <a href="/views/servicos.html">Serviços</a>
      <a href="/views/sobre.html">Sobre</a>
    </nav>
  </header>

  <section>
    <h2>Quem Sou</h2>
    <p>Desenvolvedor solitário com paixão por transformar ideias em estatísticas utilizando planejamentos ágeis de TI. Combinando criatividade com conhecimento tecnicamente avaliado, forneço programas personalizados que resolvem problemas de uma maneira simples e funcional. Meu objetivo é produzir soluções que produzam um fenômeno, criando inovação e valor para os clientes beneficiários e suas organizações.</p>
  </section>
</body>
</html>
